
  ALERT!                         .   .=                                                 
                               :\  > ~                                                  
┌──────┐                      . ':  :  .-"  ^-. .~!                                     
└┐ YOU └┐                            ~            ~                                     
 └─┐    └─┐                  f                       /                                  
   └┐ ARE └─┐               '                      >                                    
    └─┐     └─┐             ~      .                \                                   
      └┐ NOT  └──┐          :   x^ ~                 ~                                  
       └─┐       └──┐              '` ~'"            '                                  
         └┐ WELCOME │           '(  ' >` !                                              
          └─┐       └─┐         '    4 ' '         :                                    
            └┐  HERE! └┐        '" ~    ("(      :                                      
             └─────────┘        '            ""!                                        
                       │       ( .             '                                        
             ──→ YOU ←─┘        /               '                                       
                   │           4   ..:   .zMT!!!!?!+.                                   
            MUST ←─┘                   !T!!!!!!!!!!!?T!!!!!!!!!!?T!+:.                  
               │                    .!!!!!U!!!!!!!!!!!!!RX!!!!!!!!!!!!!!%.              
         LOG ←─┘                   !!!!!!!!!M!!!!!!!!!!!!!R!!!!!!!!!!!!!!!!:            
           │                .-.  :!!!!!!!!!!!M!!!!!!!!!!!!!?X!!!!!!!!!!!!!!!X           
      OFF ←┘               >    R!!!!!!!!!!!!!!!!!!!!!!!!!!!!X!!!!!!!!!!!!!!UU          
        │                 ~ +!X!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!~  ^4!!!!!!XRX*"``-       
  NOW! ←┘                >/!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!x   '!!!!t!f  (    `     
                         T!!!!!!!!!!!!!!!!!!X!!!!!!!!!!!!!!!!!!!!?n  "XXR! '  )    >    
            ┏━━━━┓      t!!!!!!!!!!!!!!!!!HR!!!!!!!!!!!!!!!!!!!!!!!!!    '  .! ^~-~     
            ┃TURN┃      !!!!!!!!!!!!!!!!M!!!!!!!!!!!!!!!!!!!!!!!!!!!!!     '  =---      
            AROUND      'X!!!!!!!!!X*"  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!                  
            ┃NOW!┃        "*XXX*""      'X!!!!!!!!!!!!!!!!!!XH@TTTTTTR:                 
            ┃ ’N ┃                       ?!!!!!!!!!!!!!!!UT!!!!!!!!!!!!                 
            ┃ DO ┃                        "X!!!!!!!!!U@T!!!!!X@RMMMMMMML                
            ┃NOT!┃                          'T*@@MT!!!!!!X@RMMMMMMMMMMMR                
            ┃LOOK┃                           "X!!!!!XW@RMMMMMMMMMMMMMMMM                
            ┃BACK┃                             ?MMMMMMMMMMMMMMMMMMRMMMMM                
            ┗━━━━┛                              9MMMMMMMMMMMMMMMM$MMMMMF                
                                                'MMMMMMMMMMMMMMM$MMMMM                  
ALERT! You have accessed a restricted system!    4MMMMMMMMMMMMMMRMMMf      ..           
                                                  MMMMMMMMMMMMMMRMMM    u!~:" `(        
  ~ *YOU* are not authorized to be here! ~        tMMMMMMMMMMMMMMMM :MM$F~~>    ':      
                                                  'MMMMMMMMMMMMMM$RRMM$$X~~>      \     
    ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓               RMMMMMMMMMM@RMMMMMM$$B~~!       `    
    ┃ YOU MUST LOG OFF IMMEDIATELY.┃               'MMMMMMMMRMMMMMMMMM$$$k~~L       ~   
    ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛                9MMMMMMMMMMMMMMMMMM$$$:~~>       :  
                                                    M$MMMMMMMMMMMMMMMMM$$$$:~~:         
  This system  is restricted  to authorized         MM$MMMMMMMMMMMMMMMMM$$$$L~~L      ` 
  access only. All activities are monitored        'MMMM$MMMMMMMMMMMMM**MM$$$k~~X       
  and recorded.  All unauthorized access is        9MMMMMMRRRRf`          `"$$W~~!     `
  investigated and reported  to appropriate        @MMMMMMMMMM               "$$L~~\   '
  law enforcement agencies.  You  have been        MMMMMMMMMMM                  "*(::7" 
  warned — Now Scram!                        u-. .'MMMMMMMMMME                          
                                          z$$k>(9MMMMMMMMMMMM>                          
      If you would like to contact       X#$$$$$@MMMMMMMMMMMM                           
    the schmuck whose system you’ve      '(?$$$$$BMMMMMMMMMMF                           
      hacked, you better mail me!          `(?$$$$$8MMMMMMMM                            
                                             '(?R$$$$$$$$$$$                            
  Try:                                          ~:~?#***#"~:                            

    echo "Please secure your system better!" | mailx -r "Some.Hacker" -s "You’re hacked!" "{{ ansible_env.LOGNAME }}"

